<div class="container">
	<div class="well">
		<h1> Summary </h1>
		<% if @summary.size > 0 %>		
		
		<pre> <%= highlight(@summary[0], @summary[1].split) %> </pre>
		<h1> Top Words </h1>

		<% @summary[1].split(" ").each do |w| %>
		
			<p> <%= w %></p>

		<% end %>

		<% else %>
		<p> No Result </p>
		<% end  %>
	</div>
</div>
