<div class ="container">
<div class="paddingcnt" id="pricing">
    <div class="row-fluid">
      <div class="span12">
        <div class="pricing">
          <div class="container">
            <div class="row-fluid">
              <div class="tables">
                <div class="row-fluid">
                
                  <div class="span3 prblock prgreen">
                    <div class="pt1">
                      <h2>Basic</h2>    <!-- set title for this block here !-->
                         <!-- set image for this block here !-->
                      <div class="price">
                        <h1>$2.99</h1>      <!-- set price for this block here !-->
                        <p>price / month</p>
                      </div><!--price-->
                      <div class="content">
                      
                      </div><!--content-->
                      <div class="plan-features">
                        <p>20 Submissions </p>
                        <p>1GB Storage</p>      <!-- set feature here !-->
                        <p>5GB Bandwidth</p>     <!-- set feature here !-->
                              <!-- set feature here !-->
                        <p>Security Suite</p>      <!-- set feature here !-->
                      </div><!--plan-features-->
                      <div class="button">
                        <%= link_to "Sign Up now!", new_user_registration_path %>  <!-- set url here !-->
                      </div><!--button-->
                    </div><!--pt1-->
                  </div><!--span3-->
                  
                  <div class="span3 prblock prred">
                    <div class="pt1">
                      <h2>Plus</h2>   <!-- set title for this block here !-->
                        <!-- set image for this block here !-->
                      <div class="price2">
                        <h1>$6.99</h1>      <!-- set price for this block here !-->
                        <p>price / month</p>
                      </div><!--price-->
                      <div class="content">
                      
                      </div><!--content-->
                      <div class="plan-features">
                        <p> 100 Submissions </p>
                        <p>5GB Storage</p>      <!-- set feature here !-->
                        <p>15GB Bandwidth</p>     <!-- set feature here !-->
                            <!-- set feature here !-->
                        <p>Security Suite</p>      <!-- set feature here !-->
                      </div><!--plan-features-->
                      <div class="button">
                        <%= link_to "Sign Up now!", new_user_registration_path %><!-- set url here !-->
                      </div><!--button-->
                    </div><!--pt1-->
                  </div><!--span3-->
                  
                  <div class="span3 prblock prblue">
                    <div class="pt1">
                      <h2>Premium</h2>   <!-- set title for this block here !-->
                        <!-- set image for this block here !-->
                      <div class="price3">
                        <h1>$19.99</h1>     <!-- set price for this block here !-->
                        <p>price / month</p>
                      </div><!--price-->
                      <div class="content">
                      
                      </div><!--content-->
                      <div class="plan-features">
                        <p>Unlimited Submissions</p>      <!-- set feature here !-->
                        <p>15GB Storage</p>      <!-- set feature here !-->
                        <p>25GB Bandwidth</p>     <!-- set feature here !-->
                        
                        <p>Security Suite</p>      <!-- set feature here !-->
                      </div><!--plan-features-->
                      <div class="button">
                        <%= link_to "Sign Up now!", new_user_registration_path %>  <!-- set url here !-->
                      </div><!--button-->
                    </div><!--pt1-->
                  </div><!--span3-->
                  
                  <div class="span3 prblock prgolden">
                    <div class="pt1">
                      <h2>Ultimate</h2>    <!-- set title for this block here !-->
                        <!-- set image for this block here !-->
                      <div class="price4">
                        <h1>$24.99</h1>     <!-- set price for this block here !-->
                        <p>price / month</p>
                      </div><!--price-->
                      <div class="content">
                      
                      </div><!--content-->
                      <div class="plan-features">
                        <p>Unlimited Submissions</p>      <!-- set feature here !-->
                        <p>Unlimited Storage</p>     <!-- set feature here !-->
                        <p>Unlimited Bandwidth</p>      <!-- set feature here !-->
                        <p>Security Suite</p>      <!-- set feature here !-->
                      </div><!--plan-features-->
                      <div class="button">
                        <%= link_to "Sign Up now!", new_user_registration_path %>   <!-- set url here !-->
                      </div><!--button-->
                    </div><!--pt1-->
                  </div><!--span3-->
                  
                </div><!--row-fluid-->
              </div><!--tables-->
              

            </div><!--row-fluid-->
          </div><!--cont-->
        </div><!--pricing-->
      </div><!--span12-->
    </div><!--row-fluid-->
  </div>
  <!--pricing end-->
</div>
